<% prefix = @note.new_record? ? "note" : "note_#{@note.id}" %>

<%= render_box @note, 
               dom_id, 
               "update_form_position('#{dom_id}', '#{prefix}');", 
               false do %>

	<%= form_for @note, :remote => true do |f| %>
        <%= f.hidden_field :board_id %>
	    <%= f.hidden_field :pos_x, :id => "#{prefix}_pos_x" %>
	    <%= f.hidden_field :pos_y, :id => "#{prefix}_pos_y" %>
	    <%= f.hidden_field :width, :id => "#{prefix}_width" %>
	    <%= f.hidden_field :height, :id => "#{prefix}_height" %>
	    
        <%= div_content(@note, dom_id) do %>
		   <div class="textwrapper">
	       <%= f.text_area :content, :cols => nil, :rows => nil %>
		   </div>
	    <% end %>
		
	    <div class="footer">
	       <div class="buttons">
	       <%= f.submit 'Save' %>
	       <%= cancel_link %>
		   </div>
		   
		   <div class="syntax">
           <%= link_to 'Formatting Syntax', "http://redcloth.org/hobix.com/textile/", :target => '_blank' %>
           </div>
	    </div>
		
	<% end %>
	
<% end %>