<%= form_for :note, :url => notes_url, :remote => true do |f| %>
    <%= f.hidden_field :pos_x %>
    <%= f.hidden_field :pos_y %>
	<%= f.hidden_field :width %>
	
    <%= f.text_area :content %>
	
	<div class="buttons">
	   <%= f.submit %>
	   <%= link_to_function 'Cancel', "$('create_note').remove()"%>
	</div>
<% end %>
