<%= render_box(note, dom_id(note), js_update_pos(note), true) do %>

	<%= div_content(note, dom_id(note)) do %>
	   <%= format_content note %>
	<% end %>
	
	<div class="footer">
	   <div class="status">		
	     <%= without_dblclick_support do %>
          <%= link_to 'Edit', edit_note_path(note), :remote => true %>
		   &nbsp;
         <% end %>
		 
	     <%= note.updated_at %>		
          &nbsp;
          &nbsp;
	   </div>
	</div>		
	      
<% end %>



