<noscript>
	Ehm sorry, Stwiky is not editable without JavaScript. 
</noscript>

<div id="desktop">
    <%= render @notes %>
	
	
    <%= without_dblclick_support do %>
	   <div style="position: absolute; left: 10px; top: 10px;">
	   	   <%= link_to 'Add another note', new_note_path, :remote => true %>
	   </div>
	<% end %>
</div>

<%= javascript_tag do %>
   document.observe('dblclick', 
                    function(event) { 
					   create_note_request(event, "<%= js_url(new_note_path(:board_id => @board.id)) %>"); 
					});
<% end %>

<%= render :partial => 'navigation' %>

