<div class="login box">
	<h1>Join Stwiky!</h1>
	
	<p>It's free!</p>
	
	<% if @user.errors.any? %>
        <ul id="error_explanation">
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
	<% end -%>
	
	<%= form_for @user, :url => signup_path do |f| %>
       <div class="fields">
		    Name <%= f.text_field :name %><br/>
			
		    Password <%= f.password_field :password %><br/>
			
		    Confirm Password <%= f.password_field :password_confirmation %><br/>
			
			Six times seven <%= text_field_tag :answer, params[:answer], :size => 30 %><br/>
			
		    <%= link_to 'Login', login_path %>
			&nbsp; 
			<%= f.submit 'Signup' %>
		</div>
	<% end %>
</div>
