<div class="login box">
	<h1>Hej at Stwiky!</h1>
	
    <p>
    	Stwiky is a simple site where you may keep all the small things you need to remember
		in your everyday life.
		Login or <%= link_to 'Sign up', signup_path %> to get stwiky with it!
		Or check out the <%= link_to 'Sandbox', user_board_path(:username => 'sandbox') %> 
		to look around first.
	</p>
	
	<% if flash[:alert] %>
	   <p id="alert"><%= flash[:alert] %></p>
	<% end %>
    <% if flash[:notice] %>
        <p id="notice"><%= flash[:notice] %></p>
	<% end %>
	
	<%= form_tag login_path do |f| %>
	   <div class="fields">
		    Name <%= text_field_tag :username, params[:username] %><br/>
			
			Password <%= password_field_tag :password %><br/>
			
			<%= link_to 'Sign up', signup_path %> 
			&nbsp; 
			<%= submit_tag 'Login' %>
		</div>
	<% end %>
</div>
