<div class="login box">
	<h1>Hej at Stwiky!</h1>
	
    <p>
    	Stwiky is a simple site where you may keep all the small things you need to remember
		in your everyday life.
		Login or <%= link_to 'Sign up', user_signup_path %> to get sticky with it!
	</p>
	
	<% if flash[:alert] %>
	   <div id="alert"><%= flash[:alert] %></div>
	<% end %>
    <% if flash[:notice] %>
        <div id="notice"><%= flash[:notice] %></div>
	<% end %>
	
	<%= form_tag user_login_path do |f| %>
	   <div class="fields">
		    Name <%= text_field_tag :name %><br/>
			
			Password <%= password_field_tag :password %><br/>
			
			<%= link_to 'Sign up', user_signup_path %> 
			&nbsp; 
			<%= submit_tag 'Login' %>
		</div>
	<% end %>
</div>
